/*
 * Global configgurations
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  overflow: hidden scroll;
}

html, body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: #fff;
  padding: 0 20px;
}

h1 {
  text-align: center;
  color: white;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

header div {
  flex: 1;
  text-align: center;
}

header h1 {
  text-align: left;
}

header p {
  margin: 0;
  padding: 20px 0 0;
  font-size: x-large;
}

header div:last-child {
  text-align: right;
}

.btn {
  margin: 20px;
  cursor: pointer;
  display: inline-block;
  background-color: darkorange;
  border: 1px solid orangered;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.25rem;
}

.btn {
  background-color: orange;
}

footer {
  text-align: center;
  font-size: x-large;
}

footer p {
  margin: 0;
  padding: 30px 0 0;
}

header, footer {
  background-color: #222;
  color: white;
}

main {
  background-color: white;
  max-width: 720px;
  margin: 0 auto;
}

.button {
  text-align: center;
}

#content {
  margin: 12px;
  line-height: 1.5;
  text-align: justify;
  font-size: 1.2em;
}



/*
 * Index page styles
 */
html.index, body.index {
  height: 100%;
  background-color: #222;
}

body.index {
  display: flex;
}

.container.index {
  margin: auto;
}

.menu.index {
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 480px;
  background-color: rgb(255, 255, 255, 0.8);
  margin: 32px 10px 10px 10px;
  padding: 10px;
}

ul.index {
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

li.index {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 0;
  background-color: #f0f0f0;
  border: 1px solid #808080;
  border-radius: 5px;
}

a.index {
  flex: 1 0 0;
  display: block;
  margin: 0;
  padding: 10px 16px;
  text-decoration: none;
  font-size: large;
}

a.index, a.index:active, a.index:visited {
  color: darkblue;
}

a.index:hover {
  background-color: #b0b0b0;
  text-decoration: underline;
  font-weight: 400;
}

.footer.index {
  margin-top: 12px;
  color: gray;
  text-align: center;
}
